# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Environment / Secret
.env
.env.local

# Project Specific
data/*
!data/.gitkeep
config.json

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db